@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #0a2a43;
    min-height: 1500px;
}
section
{
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
section:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}
section img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: relative;
    transform: translate(0px,-50px);
    color: seashell;
    font-size: 10em;
    z-index: 1;
}
#road
{
    z-index: 2;
}
#moon
{
    transform: scaleX(0.7);
    transform: scaleY(0.8);
    transform: translate(0px,-1px) ;
}

@media only screen and (max-width: 633px) {
    #text
    {
        font-size: 4em;
  
    }
    #moon{
        transform: translate(-100px,0px) ;
    
    }
}
#particles-js
{
    height: 100%;
    background: #0a2a43;
}
#particle-container{
   
    width: 100%;
}
